{% extends "layout.twig" %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('trainingPlan') }}
{% endblock %}

{% block title %}Training Plan{% endblock %}

{% block content %}
    <div class="trainingPlan container content-body">
        <div id="workoutPlanNameContainer">
            <div class="row">
                <div class="col">
                    <h3 class="text-start text-dark text-bold mt-2">Workout Plan Name: {{ workoutName }}</h5>
                </div>
                <div class="col text-end">
                    <a class="btn btn-dark btn block w-50 mt-2" href="/trainingPlan/editWorkout/{{ workoutPlanId }}" role="button">Edit Workout Plan</a>
                </div>
            </div>
        </div>
        <div id="trainingDaysBtnContainer">
            {% for i in 0 .. (trainingsPerWeek - 1) %}
                <button type="button" class="btn btn-dark btn-block w-100 mt-3 training-day-btn"
                        data-target="trainingPlanTable{{ data[i]['id'] }}">
                    <h6 class="mt-2">Training Day {{ (i + 1) }}</h6>
                </button>
                <div id="TrainingDayContainer{{ data[i]['id'] }}">
                    <table class="table table-secondary table-striped table-hover table-hidden mt-3" id="trainingPlanTable{{ data[i]['id'] }}">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Exercise Name</th>
                                <th>Description</th>
                                <th>Sets</th>
                                <th>Created At</th>
                                <th>Updated At</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for exercise in data[i]['exercises'] %}
                                {% set index = loop.index %}
                                <tr>
                                    <td>{{ index }}</td>
                                    <td>{{ exercise['exerciseName'] }}</td>
                                    <td>{{ exercise['description'] | default('No description added') }}</td>
                                    <td>
                                        {% for set_ in exercise['sets'] %}
                                            {{ set_['reps'] }}
                                        {% endfor %}
                                    </td>
                                    <td>{{ exercise['createdAt'] }}</td>
                                    <td>{{ exercise['updatedAt'] }}</td>
                                </tr>
                            {% endfor %}
                            <tr>
                                <td colspan="6" class="text-center">
                                    <a class="btn btn-dark btn block w-50" href="/recordWorkout/trainingDaySummary/{{ data[i]['id'] }}" role="button">Record Workout</a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
